body {
  font-family: var(--font-roboto), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}

a {
  color: #f8f9fa;
  text-decoration: none;
}

a:hover {
  color: #0b5ed7;
  text-decoration: underline;
}

a:active {
  color: #0d6efd;
}